apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: odh-model-controller
  name: odh-model-controller-metrics-service
  namespace: system
spec:
  ports:
  - name: metrics
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    control-plane: odh-model-controller
