apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../runtimes
patches:
  - target:
      group: serving.kserve.io
      version: v1alpha1
      kind: ClusterServingRuntime
      name: ".*"
    patch: |-
      - op: replace
        path: /kind
        value: ServingRuntime
