name: Lint

on:
  pull_request:
    branches:
      - main
      - 'release-[0-9][.0-9]+'
    paths-ignore:
      - '.github/**'
      - '.tekton/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      CI: true
      DOCKER_BUILDKIT: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build develop image
        run: make build.develop

      - name: Run lint
        run: ./scripts/develop.sh make fmt
